.regForm-group{
  margin-top: 10%;
  margin-left: 15%;
  padding-top: 3%;
  padding-bottom: 10%;
  border: 1px solid black;
  border-radius: 18px;
  width:70%;
  height:500px;
  background-color: lightgray;
}
.red{
  color:red;
}
.loader{
  text-align: center;
  align-content: center;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.center{
  text-align: center;
}
table{
  padding-left: 20%;
  align-self: center;
  align-content:center;

}
.form-group{
  color:green;
}
.heading{
  color:red;
}
.left{
  float:right;
  margin-right: 20%;
}
button{
  background-color: #4CAF50; /* Green */
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
